{% extends 'base.html' %}
{% load static %}

{% block app_css %}
    <link href="{% static 'chat/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock app_css %}

{% block content %}
        <div class="main-container">
            <div class="room-sidebar">
                <!-- room side bar header-->
                <div class="room-sidebar-header">
                    <div class="sb-avatar">
                        <img src="{% static 'chat/default_profile.png' %}" alt="Default Profile">
                    </div>
                    <div class="sb-status">
                        <svg id="ee51d023-7db6-4950-baf7-c34874b80976" viewBox="0 0 24 24" width="24" height="24" class=""><path fill="currentColor" d="M12 20.664a9.163 9.163 0 0 1-6.521-2.702.977.977 0 0 1 1.381-1.381 7.269 7.269 0 0 0 10.024.244.977.977 0 0 1 1.313 1.445A9.192 9.192 0 0 1 12 20.664zm7.965-6.112a.977.977 0 0 1-.944-1.229 7.26 7.26 0 0 0-4.8-8.804.977.977 0 0 1 .594-1.86 9.212 9.212 0 0 1 6.092 11.169.976.976 0 0 1-.942.724zm-16.025-.39a.977.977 0 0 1-.953-.769 9.21 9.21 0 0 1 6.626-10.86.975.975 0 1 1 .52 1.882l-.015.004a7.259 7.259 0 0 0-5.223 8.558.978.978 0 0 1-.955 1.185z"></path></svg>
                    </div>
                    <div class="sb-new-chat">
                        <svg viewBox="0 0 24 24" width="24" height="24" class=""><path fill="currentColor" d="M19.005 3.175H4.674C3.642 3.175 3 3.789 3 4.821V21.02l3.544-3.514h12.461c1.033 0 2.064-1.06 2.064-2.093V4.821c-.001-1.032-1.032-1.646-2.064-1.646zm-4.989 9.869H7.041V11.1h6.975v1.944zm3-4H7.041V7.1h9.975v1.944z"></path></svg>
                    </div>
                    <div class="sb-menu">
                        <svg viewBox="0 0 24 24" width="24" height="24" class=""><path fill="currentColor" d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path></svg>
                    </div>
                </div>
                <!-- room side bar header-->

                <!-- room side bar get notified -->
                <div class="room-sidebar-get-notified">
                    <div class="room-sidebar-get-notified-alert">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48"><path fill="white" d="M24.154 2C11.919 2 2 11.924 2 24.165S11.919 46.33 24.154 46.33s22.154-9.924 22.154-22.165S36.389 2 24.154 2zm-.744 15.428v-.618c0-.706.618-1.324 1.324-1.324s1.323.618 1.323 1.324v.618c2.559.618 4.412 2.823 4.412 5.559v3.176l-8.294-8.294a5.056 5.056 0 0 1 1.235-.441zm1.323 15.706a1.77 1.77 0 0 1-1.765-1.765h3.529a1.768 1.768 0 0 1-1.764 1.765zm7.236-.883l-1.765-1.765H17.233v-.882l1.765-1.765v-4.853a5.56 5.56 0 0 1 .794-2.912l-2.559-2.559 1.147-1.147 14.735 14.736-1.146 1.147z"></path></svg>
                    </div>
                    <div class="room-sidebar-get-notified-msg">
                        <span class="room-sidebar-get-notified-msg1">Get notified of  new messages</span>
                        <span class="room-sidebar-get-notified-msg2"><a href="javascript:void(0);alert('Coming Soon!')">Turn on desktop notifications</a>
                            <span class="room-sidebar-get-notified-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 12" width="8" height="12"><path fill="currentColor" d="M2.173 1l4.584 4.725-4.615 4.615-1.103-1.103 3.512-3.512L1 2.173 2.173 1z"></path></svg>
                            </span>
                        </span> 
                    </div>
                </div>
                <!-- room side bar get notified -->

                <!-- room side bar search or new chat -->
                <div class="room-sidebar-search-new-chat">
                    <div class="room-sidebar-search-new-chat2">
                        <div class="room-sidebar-search">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z"></path></svg>
                        </div>
                        <div class="room-sidebar-new-chat">
                            <input type="text" placeholder="Search or start new chat"><br>
                        </div>
                    </div>
                </div>
                <!-- room side bar search or new chat -->

                <!-- room side bar groups -->
                {% for grp in groups_participated %}
            <div class="room-sidebar-groups" onclick="redirect('{{grp.get_absolute_url}}')">
                        <div class="room-sidebar-groups-g-img">
			    {% if grp.icon %}
			      <img src="{{ grp.icon.url }}" >
			    {% else %}
                              <img src="{% static 'chat/default_group.png' %}" alt="Default Profile">
			    {% endif %}
                        </div>
                        <div class="room-sidebar-groups-g-msg">
                            <span class="room-sidebar-groups-g-msg1">{{grp.name|title}}</span>
                            <span class="room-sidebar-groups-g-msg2" id="rsb-g{{grp.id}}">{{grp.description|title}}</span>
                        </div>
                        <div class="room-sidebar-groups-g-time" id="rsb-t{{grp.id}}"></div>
                    </div>
                {% endfor %}
                <!-- room side bar groups -->

            </div>

            <div id='room-message'>
                {% include 'chat/room_message.html' %} 
            </div>

            <div id='room-preview-img' style='display:none' >
                {% include 'chat/room_preview_image.html' %} 
            </div>

        </div>

    <script>
        
        const roomId = '{{chatgroup.id}}'
        var tempDaysWeekdays = [];



        const chatSocket = new WebSocket('{{WS_URL}}');

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            broadcastMessage(data.message, data.username, data.message_type, data.image_caption)
            scrollBottom()
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            console.error(e);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'message_type': 'text',
                    'image_caption': null
                }));
                messageInputDom.value = '';
            }
        };
        
        document.querySelector('#chat-message-input').onpaste = function(e) {
            let item = e.clipboardData.items[0];
            if (item.type.includes('image')) {
                let blob = item.getAsFile();

                let reader = new FileReader();
                reader.onload = function(event) {
                    document.getElementById("snipped-big-img").src = event.target.result;
                    document.getElementById('snipped-small-img').src = event.target.result;
                };

                reader.readAsDataURL(blob);
                document.querySelector('#room-preview-img').style.display = 'grid';
                document.querySelector('#room-message').style.display = 'none';
                document.querySelector('#add-caption-input').focus();
            }

        }

        function scrollBottom() {
            let msgbox = document.querySelector(".msg-box")
            msgbox.scrollTop = msgbox.scrollHeight
        }

        function getTime(msg_time) {
            if (msg_time) {
                // define as Date so we can convert to acceptable date time format (with out letter T, ex. 2020-10-10T06:50:14.751 )
                temp = new Date(msg_time); 

                // suffix UTC so it will render as local time when it use toLocalString
                var today = new Date(`${temp.toLocaleString()} UTC`); 
            } else {
                var today = new Date();
            }

            // format & render to local time
            let time = today.toLocaleString([], { hour: '2-digit', minute: '2-digit' });
            return time

        }
    
        function broadcastMessage(msg, user, msg_type, img_caption, msg_time) { 
            // create a new div element 
            let newDiv = document.createElement("div"); 
            // and give it some content 
            if (msg_type == 'image') {
                msg = `<img src="${msg}"> <br/> ${img_caption}`;
            }

            if (user == '{{request.user.username|title}}') {
                var msg1 = `<div class="right-msg-container">
                                <div class="s-message">
                                    <div class="s-msg">${msg}</div>
                                    <div class="s-time">${getTime(msg_time)}</div>
                                </div>
                                <div class="s-tail"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13" preserveAspectRatio="none" width="8" height="13"><path opacity=".5" d="M5.188 1H0v11.193l6.467-8.625C7.526 2.156 6.958 1 5.188 1z"></path><path fill="#dcf8c6ff" d="M5.188 0H0v11.193l6.467-8.625C7.526 1.156 6.958 0 5.188 0z"></path></svg></div>
                            </div>`
            } else {
                var msg1 = `<div class="left-msg-container">
                                <div class="r-tail"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13" width="8" height="13"><path opacity=".5" fill="#0000000" d="M1.533 3.568L8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path><path fill="white" d="M1.533 2.568L8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z"></path></svg></div>
                                <div class="r-message" >
                                    <div class="r-user"><a href="#">${user}</a></div>
                                    <div class="r-msg">${msg}</div>
                                    <div class="r-time">${getTime(msg_time)}</div>
                                </div>
                            </div>`
            }
            
            if (msg_time) {
                showDatesWeekDays(msg_time)
            } else {
                showDatesWeekDays(new Date())
            }

            newDiv.innerHTML = msg1;  

            // add the newly created element and its content into the DOM 
            let currentDiv = document.getElementById("new-message-chat"); 
            let parentDiv = currentDiv.parentNode;
            parentDiv.insertBefore(newDiv, currentDiv); 

            setSidebarMessage(msg_type, user, msg);

        }

        document.getElementById('btnClosePreviewImg').onclick = function(e) {
            goRoomMsg();
        }

        document.getElementById('btnSendImg').onclick = function(e) {
            sendImage();
            goRoomMsg();
        }
        document.querySelector('#add-caption-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                sendImage();
                goRoomMsg();
            }
        }

        function redirect(url) {
            window.location = url;
        }

        function goRoomMsg() {
            document.querySelector('#room-message').style.display = 'grid';
            document.querySelector('#room-preview-img').style.display = 'none';
            document.querySelector('#room-search-gif').style.display = 'none';
            document.getElementById("snipped-big-img").src = '';
            document.getElementById("snipped-small-img").src = '';
            document.querySelector('#add-caption-input').value = '';
            document.querySelector('#chat-message-input').focus();
        }

        function setSidebarMessage(msg_type, user, msg) {
            // side bar message
            if (msg_type == 'image') {
                document.getElementById('rsb-g{{chatgroup.id}}').innerHTML = 'Photo';
            } else {
                document.getElementById('rsb-g{{chatgroup.id}}').innerHTML = `${user}: ${msg}`;
            }
            document.getElementById('rsb-t{{chatgroup.id}}').innerHTML = getTime();
        }


        function sendImage() {
            chatSocket.send(JSON.stringify({
                'message': document.getElementById("snipped-big-img").src,
                'message_type': 'image',
                'image_caption': document.querySelector('#add-caption-input').value
            }));
        }



        function showDatesWeekDays(date_created) {
            // add the newly created element and its content into the DOM 
            
            dt = new Date(date_created)

            if (!tempDaysWeekdays.includes(dt.toLocaleDateString())) {
                let newDiv = document.createElement("div"); 
                let currentDiv = document.getElementById("new-message-chat"); 
                let parentDiv = currentDiv.parentNode;
                let days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']; 

                if (dt.toDateString() == new Date().toDateString()) {
                    // display TODAY in message
                    date_weekday = 'TODAY';
                } else if(dt > getDateBefore()) {
                    // display week day in message
                    date_weekday = days[dt.getDay()].toUpperCase()
                } else {
                    // display date in message
                    date_weekday = dt.toLocaleDateString();
                }

                newDiv.style.display = "grid";
                newDiv.innerHTML = `<div class="date_weekday">${date_weekday}</div>`
                parentDiv.insertBefore(newDiv, currentDiv); 

                tempDaysWeekdays.push(dt.toLocaleDateString())
            }

        }
        
        function getDateBefore(days=7) {
            // calculate the last 7 days date
            // 7 (days) * 24 (hours) * 60 (minutes) * 60 (seconds) * 1000 (milliseconds ) = 604800000 or 7 days in milliseconds.                
            daysInMs= days * 24 * 60 * 60 * 1000
            return new Date(Date.now() - daysInMs)
        }

        function loadMessage() {
            fetch("{% url 'chat:history' chatgroup.id %}")
                .then( response => response.json() )
                .then( data => {
                    for (let msg of data) {
                        broadcastMessage(msg.message, msg.username, msg.message_type, msg.image_caption, msg.date_created)
                    }
                    scrollBottom()
                })
        }

        document.getElementById('btnGif').addEventListener('click', e => {
            loadGif();
            document.querySelector('.room-container__msg').classList.add('giphy-search-show')
        })

        document.getElementById('btnClose').addEventListener('click', e => {
            document.querySelector('.room-container__msg').classList.remove('giphy-search-show')
        })

        document.getElementById('searchGifs').addEventListener('input', e => {
            loadGif(e.target.value);
        })
            
        const giphyUrl = '{{GIPHY_URL}}';
        const apiKey = '{{API_KEY}}';

        const loadGif = async (searchBy) => {

            let url;
            const docResults = document.querySelector('.giphy-search__results');
            docResults.innerHTML = 'Loading...';

            if (searchBy) {
                url = `${giphyUrl}/search?api_key=${apiKey}&q=${searchBy}`;
            } else {
                url = `${giphyUrl}/trending?api_key=${apiKey}`;
            }

            const response = await fetch(url);
            const gifs = await response.json();

            const gifList = gifs.data.map(res => res.images.fixed_height);
            const gif2img = [];
            docResults.innerHTML = '';
            gifList.forEach( res => {
                docResults.innerHTML += `<img 
                    onClick="previewGif('${res.url}')"
                    style="width:${res.width}px;cursor:pointer" 
                    src="${res.url}"
                />`
            })
            //docResults.innerHTML = gif2img.join("");

        }

        const previewGif = (imgRes) => {
            document.getElementById("snipped-big-img").src = imgRes;
            document.getElementById('snipped-small-img').src = imgRes;
            document.querySelector('#room-preview-img').style.display = 'grid';
            document.querySelector('#room-message').style.display = 'none';
            document.querySelector('#add-caption-input').focus();
        }

        loadMessage()

    </script>
{% endblock content %}
