{% load static %}
<div class="room-container__preview-img" >
        {% include 'chat/room_message_chat_header.html' %}
        
        <div id='room-preview-img' class="preview-img-box preview-img">

            <div class="preview-img__header">
                <div class="preview-img__header__close">
                    <svg id="btnClosePreviewImg" viewBox="0 0 24 24" width="24" height="24" class=""><path fill="currentColor" d="M19.1 17.2l-5.3-5.3 5.3-5.3-1.8-1.8-5.3 5.4-5.3-5.3-1.8 1.7 5.3 5.3-5.3 5.3L6.7 19l5.3-5.3 5.3 5.3 1.8-1.8z"></path></svg>
                </div>
            </div>

            <div class="preview-img__snipped-big">
                <div class='preview-img__snipped-big__border'><img id='snipped-big-img' ></div>
            </div>

            <div class="preview-img__caption">
                <span class='preview-img__caption__add'><input id='add-caption-input' type="text" placeholder="Type a message"></span>
            </div>

            <div class='preview-img__line'></div>

            <div class='preview-img__footer'>

                <div class="preview-img__footer__img-small">
                    <img id='snipped-small-img'>
                </div>

                <div class="preview-img__footer__addfile">
                    <svg viewBox="0 0 24 24" width="24" height="24" class=""><path fill="currentColor" d="M20 13.5h-6.5V20h-2.9v-6.5H4v-2.9h6.5V4h2.9v6.5H20v3z"></path></svg>
                </div>
                <div class="preview-img__footer__button">
                    <div class="preview-img__footer__button-arrow">
                        <svg id='btnSendImg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none" width="24" height="24"><path fill="white" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path></svg>
                    </div>
                </div>
            </div>
        </div>

</div>
